body
{
    margin: 0;
    padding: 0;
    background: url(room2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.dashboardLink a
{
    position: absolute;
    top: 8px;
    right: 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: #F54455; 
    
}

.dashboardLink a:hover
{
    color: #4EF360;
    
}

.dashboardLink p
{
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    left: 80px;
}

.meetingRoombox
{
    
    width: 1100;
    height: 410px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.container
{
    text-align: center;
    
}

.btn
{
    height: 150px;
    border: 1px solid #F54455;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "montserrat";
    margin: 10px;
    color: #fff;
}

.btn:hover
{
    color:  #4EF360;
}
